@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #602b6b 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 15rem rgba(0, 0, 0, 0.6);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  -webkit-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  background-repeat:repeat-y;
  background-position: center;
  
  
  
}
/* ELEMENTS */
.name0 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.name1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-image: url(win.jpg);
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}
.hidden {
  display: none;
}

/*login form */
.form {
  font-family: "Roboto", sans-serif;
  position: absolute;
  z-index: 15;
  background: linear-gradient(
    90deg,
    rgb(29, 201, 236) 0%,
    rgba(177, 188, 196, 0.83) 0%,
    rgb(236, 139, 139) 100%
  );
  opacity: 99%;
  max-width: 260px;
  margin: 200px auto 100px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  bottom: 30%;
  left: 40%;
}

.form input {
  outline: 0;
  border-radius: 10px;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input:hover {
  background-color: #d3f8f9;
  transition: all 1s ease 0s;
}
.form input:focus {
  background-color: #d3f8f9;
  transition: all 1s ease 0s;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  border-radius: 10px;
  background-color: #c7365f;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background-color: #06c5cf;
  transition: all 1s ease 0s;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #06c5cf;
  text-decoration: none;
}
.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(10px);
  filter: blur();
}
.overlay1 {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(3px);
  filter: blur();
}
.small {
  color: red;
  font-size: 10px;
}
.small_1 {
  color: red;
  font-size: 15px;
}

/* From-2 */
.form1 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgb(29, 201, 236) 0%,
    rgba(177, 188, 196, 0.83) 0%,
    rgb(236, 139, 139) 100%
  );
  opacity: 99%;
  max-width: 260px;
  margin: 200px auto 100px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  bottom: 30%;
  left: 40%;
}
.form1 input {
  outline: 0;
  border-radius: 10px;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form1 input:hover {
  background-color: #d3f8f9;
  transition: all 1s ease 0s;
}
.form1 input:focus {
  background-color: #d3f8f9;
  transition: all 1s ease 0s;
}
.form1 button {
  text-transform: uppercase;
  outline: 0;
  border-radius: 10px;
  background-color: #c7365f;
  width: 80%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.form1 button:hover,
.form1 button:active,
.form1 button:focus {
  background-color: #06c5cf;
  transition: all 1s ease 0s;
}
.form1 .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form1 .message a {
  color: #06c5cf;
  text-decoration: none;
}
